
.header {
  padding: 8px 24px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
}

.icon-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1c1c1e;
  border: 1px solid rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.user-icon-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee;
  border: 1px solid rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.brand-text {
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 14px;
}

.badge-dot {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 8px;
  height: 8px;
  background-color: #ef4444;
  border-radius: 50%;
  border: 0px solid #1c1c1e;
}